# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
.venv/
ENV/

# Environment Variables
.env
.env.*

# =========================
# Django
# =========================
*.log
db.sqlite3
db.sqlite3-journal

media/
staticfiles/

# Collected Static Files
/static/

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Testing
# =========================
.pytest_cache/
.coverage
htmlcov/
.tox/
.nox/

# =========================
# Type Checking
# =========================
.mypy_cache/
.pyre/
.pytype/

# =========================
# Build
# =========================
build/
dist/
*.egg-info/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# Misc
# =========================
*.swp
*.swo